
#IrrigationMain{
	margin-top: 50px;
	font-size: 20px;
}

.IrrigationBlock{
	display: inline-block;
	width: 95%;

	
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: var(--Nili-color-blockBorder);
	
	margin-bottom: 20px;
	
	transition-duration: 0.5s;
}
.TableBlock{

}
.checkbox{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 15%;
	color: white;
	font-weight: bold;
	box-sizing: border-box; /*border is inside the element and doesn't expand its size*/
	margin-top: 5px;
	transition-duration: 0.5s;
	cursor: pointer;
}
.checkbox.checked{
	background-color: var(--Nili-color);
	border-style: none;
	transition-duration: 0.5s;
	opacity: 1.0;
}
.checkbox.unchecked{
	background-color: transparent;
	border: 2px solid var(--Nili-color);
	transition-duration: 0.5s;
	opacity: 0.5;
}
.checkboxLabel{
	color: var(--Nili-color);
	transition-duration: 0.5s;
}
.checkboxLabel.checked{
	opacity: 1.0;
}
.checkboxLabel.unchecked{
	opacity: 0.5;
}

#UnixDayOffset{
	display: inline-block;
}
#IrrigationMainStart{
	margin-top: 10px;
	min-width: 300px;
}

#IrrigationHeading{
	font-weight: lighter;
	margin: 30px 0px 30px 0px;
	text-decoration: underline;
	font-size: 30px;
	color: var(--Nili-color-dark);
}

#ManualIrrigation{
	font-size: 20px;
}
.IrrigationHeading{
	display: inline-block;
	width: 100%;
	background-color: var(--Nili-color);
	color: white;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	font-weight: bold;
}
#ScheduledIrrigation{
	padding-bottom: 10px;
}
#ManualIrrigationSelection{
	display: inline-block;
	margin: 10px 0px 10px 0px;
	padding-bottom: 15px;
	width: calc(100% - 20px);
}
#ManualIrrigationSelectionLabel{
	margin: auto;
	margin-bottom: 20px;
	color: var(--Nili-color-dark);
}

#ManualIrrigationStartButton{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.ManualIrrigationSelectionTextInputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin: auto;
	margin-top: 10px;
}
.ManualIrrigationSelectionMinsLabel{
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}
.ManualIrrigationTimeInput{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: var(--Nili-color);
	text-align: center;
	border-color: var(--Nili-color-light);
	margin: auto;
	width: 100%;
}

#ManualIrrigationSep{
	margin-top: 0px;
}

.RotatingButtonMargins{
	margin: 10px 0px 0px 0px;
}

#ShowDeveloperOptionsBtn{
	margin-bottom: 20px;
}
.IrrigationButton{
	background-color: lime;
}

#ClearIrrigationPlanBtn{
	margin-top: 10px;
}

.WarningButton{
	background-color: red;
}
.IrrigationButton.DeveloperButton{
	background-color: lime;
	color: black;
}
.DeveloperButton{
	font-size: 10px;
}
#DeveloperOptionsHideBtn{
	background-color: darkgreen;
	color: white;
	margin-bottom: 10px;
}
#DeveloperOptionsHideBtn:hover{
	background-color: red;
	color: white;
}
.DeveloperButton:hover{
	background-color: red;
	color: white;
}
.IrrigationButton.ShowButton{
	background-color: #ff0000;
	color: white;
	font-size: 10px;
}
.DeveloperOptionsBtn{
	font-size: 10px;
	margin-bottom: 20px;
}
.IrrigationButton.HideButton{
	background-color: lime;
	color: black;
}
#DevBtnLst{
}
.DevBtnLstItm{
	margin: 4px 0px 4px 0px;
}

.ScheduleDateToggle{
	display: inline-block;
	width: 80px;
	border-style: solid;
	border-color: var(--Nili-color-border);
	border-width: 1px;
}
.ScheduleDateToggleBlock{
	display: block;
}
#RecurringScheduleDateBlock{
	display: inline-block;
	padding-left: 20px;
}

#OneTimerDateSelection{
	font-weight: bold;
	font-size: 20px;
	color: var(--Nili-color);
	background-color: white;
}

.ScheduledSelectionTime{
	margin-right: 3px;
	font-size: 20px;
	font-weight: bold;
	color: var(--Nili-color);
	text-align: center;
	border-color: var(--Nili-color-border);
}
#ScheduledSelectionTime{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.timeInputBlock{
	display: inline-block;
}

#ClearIrrigationPlan{
	margin-top: 10px;
}

#ScheduleTable{
	width: calc(100% - 20px);
	overflow-x: auto;
	margin: 5px 10px 0px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--Nili-color-tableHighlight);
	color: var(--Nili-color-dark);
}
.IrrigationTable{
	width: 100%;
	min-width: 600px;
}
tr:nth-child(even) {background-color: var(--Nili-color-tableHighlight);}

.IrrigationTableRow{
	cursor: pointer;
}

.IrrigationSep{
	display: inline-block;
	width: 95%;
	height: 2px;
	background-color: var(--Nili-color-border);
	margin-top: 20px;
	margin-bottom: 20px;
}
.TableDelBtn{
	font-size: 15px;
	font-weight: bold;
	color: red;
	background-color: transparent;
	transition-duration: 0.5s;
	cursor: normal;
}
.TableDelBtn:hover{
	color: white;
	background-color: red;
	cursor: pointer;
}

#WarningMessageDiv{
	display: none;
	opacity: 1.0;
	
	position: fixed;
	top: 0;
	width: 100vw;
	height: 80vh;
	background-color: transparent;
	font-weight: bold;
	transition-duration: 1.0s;
}
#WarningMessageBckgrnd{
	position: absolute;
	top: 10px;
	left: 12.5%;
	height: 90%;
	width: 75%;
	background-color: white;
	color: black;
	font-weight: bold;
	border-left: 5px solid orange;
	border-right: 3px solid red;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}
#WarningMessage{
	color: #aa0000;

	padding: 5%;
}
#WarningMessageCloseBtn{
	display: inline-block;
	color: white;
	background-color: orange;
	transition-duration: 0.5s;
	width: 40%;
	cursor: pointer;
}

#DeveloperOptionsBlock{
	display: none;
}

.ScheduleSelectionTextInputDiv{
	display: block;
	width: 95%;
	margin: auto;
	margin-top: 20px;
}
.ScheduleSelectionTextInputDivLabel{
	color: var(--Nili-color-dark);
}
.ScheduleSelectionTextInputDivInput{
}


#MoistureSensorsBlock{
}
#MoistureSensorsSelection{
	display: inline-block;
	width: calc(100% - 20px);
	margin: auto;
	margin-left: 0;
	margin-right: 0;
	transition-duration: 0.5s;
}
.MoistureSensorSettingsDiv{
	margin: auto;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
.MoistureSensorSettingsSelectionDiv{
	border: 2px solid var(--Nili-color-light);
	box-sizing: border-box;
}
.MoistureSensorDeletorDiv{
	display: flex;
	justify-content: flex-end;
}
#AddMoistureSensor{
	margin-bottom: 20px;
}
.MoistureSensorSliderDiv{
	width: 100%;
	
	margin: auto;

	overflow-x: inherit;
	overflow-y: visible;
}
.MoistureSensorLabelDiv{
	background-color: var(--Nili-color);
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;
}
.MoistureSensorLabel{
	display: block;
	margin: auto;

	width: 80%;
}
.MoistureSensorLabelInput{
	background-color: var(--Nili-color-light);
	color: var(--Nili-color-dark);
	
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-color: var(--Nili-color-light);
	margin: auto;
	width: 100%;
}
.MoistureSensorPinDropDown{
	display: inline-block;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
	width: 20%;
	min-width: 150px;
	max-width: 300px;
}
.SlideBarDivIrgtn{
	display: inline-block;
	position: relative;
	margin: auto;
	margin-left: 20px;
	margin-right: 20px;
	width: 60%;
}
.IndicatorBarDivIrgtn{
	display: block;
	position: relative;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 16px;
	width: 30%;
}
.FeuchtigkeitssensorLabel{
	font-size: 18px;
}

#IrrigationEntryTypeSelTab{
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
}
.SelectionTab{
	display: flex;
}
.SelectionTabEntry{
	background-color: white;
	color: var(--Nili-color);
	border: 2px solid var(--Nili-color);
	font-size: 18px;
	font-weight: bold;
	margin: 0px 2px 0px 2px;
	padding: 5px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.SelectionTabEntry:hover{
	background-color: #ffaaff;
	color: black;
}
.SelectionTabEntry.Selected{
	background-color: var(--Nili-color);
	color: white;
	border-bottom-width: 4px;
}


#IrrigationBottomBuffer{
	width: 100%;
	height: 100px;
}

#DeveloperButtonDiv{
	margin-top: 300px;
}